.btn {
  padding: 11px 22px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  @extend %animation;
  transition-property: background;
  &-primary {
    background: $btn-primary;
    color: $font-main;
    &:hover,
    &:focus {
      background: $background-mobile;
    }
  }
  &-secondary {
    background: $font-main;
    color: $font-secondary;
    &:hover,
    &:focus {
      background: $hover;
    }
  }
}
