// font
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
// fonts color
$font-main: #ffffff;
$font-main-dark: #000000;
$font-main-light: #907e82;
$font-secondary: #d41443;
$btn-primary: #D41342;
$font-secondary-light: #ffa5ba;

// adds
$white: #fff;
$background-light: #fff5f6;
$background-color: #ffb8ca;
$hover: #ecebeb;
