// fonts color
$font-main: #FFFFFF;
$font-main-dark: #000000;
$font-main-light: #907E82;
$font-secondary: #D41443;
$font-secondary-light: #FFA5BA;

// font
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
// adds
$white: #fff;
$background-light: #FFF5F6;
$background-color: #FFB8CA;
$hover: #ECEBEB;