.advantages {
  background-color: $background-light;
}

.advantages-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  background-color: $background-light;
}

.advantages_list {
  display: flex;
}
// .statistic_list:not(:first-child) {
//   margin-left: 80px;
// }

.advantages_text:not(:first-child) {
  margin-right: 115px;
}

.advantages_item::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  height: 50px;
  margin-bottom: 40px;
}

.bucket-icon::before {
  background-image: url(/src/images/advantages/png-advantages/bucket.png);
}

.apple-icon::before {
  background-image: url(/src/images/advantages/png-advantages/apples-icon.png);
}

.ice-icon::before {
  background-image: url(/src/images/advantages/png-advantages/ice-cream.png);
}

.advantages_number {
  font-family: $fontSecondary;
  color: $font-secondary;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 16px;
}
