.gallery {
  background-image: linear-gradient(
    to bottom,
    $background-light 25%,
    $background-light 25%,
    $white 26%
  );
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.52px;

  @media screen and (min-width: 768px) {
    gap: 6px;
  }
  @media screen and (min-width: 1200px) {
    gap: 8px;
  }
}

.gallery__wrappen-3 {
  position: relative;
  top: 15px;
  left: 0;
}

.gallery__wrappen-4 {
  position: relative;
  bottom: 15px;
  left: 0;
}
