<section class="section advantages">
  <h2 class="advantages-hidden">Advantages our Company</h2>
  <div class="container">
    <ul class="advantages_list">
      <li class="advantages_item bucket-icon">
        <p class="advantages_number">721</p>
        <h3 class="advantages_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </h3>
      </li>
      <li class="advantages_item apple-icon">
        <p class="advantages_number">16kg</p>
        <h3 class="advantages_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </h3>
      </li>
      <li class="advantages_item ice-icon">
        <p class="advantages_number">84</p>
        <h3 class="advantages_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </h3>
      </li>
    </ul>
  </div>
</section>
