<section class="advantages section">
  <div class="container">
    <p class="section-subtitle">tradition and love</p>
    <h2 class="section-title">how it’s made?</h2>
    <div class="advantages_category">
      <div class="advantages_first">
        <img
          src="/src/images/advantages/home-pic4 1.png"
          alt="корова с молоком"
        />
      </div>
      <div class="advantages_second">
        <p class="advantages_description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="advantages_text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. </br> 
          </br> Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="advantages_button">Read more</button>
      </div>
    </div>
  </div>
</section>

    <section class="section statistic">
    <div class="container">
        <ul class="statistic_list">
            <li class="statistic_item">
                <svg class="statistic_icon" width="33" height="50">
                    <use href="/src/images/symbol-defs.svg#icon-group"></use></svg>
                    <p class="statistic_number">721</p>
                    <h3 class="statistic_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h3>
                </li>
            <li class="statistic_item">
                <svg class="statistic_icon" width="50" height="50">
                    <use href="/src/images/symbol-defs.svg#icon-apples"></use></svg>
                    <p class="statistic_number">16kg</p>
                    <h3 class="statistic_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h3>
                </li>
            <li class="statistic_item">
                <svg class="statistic_icon" width="44" height="50">
                    <use href="/src/images/symbol-defs.svg#icon-heart"></use></svg>
                    <p class="statistic_number">84</p>
                    <h3 class="statistic_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h3>
                </li>
            </ul>
        </div>
    </section>

