<section class="gallery section">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_1_1x.jpg 1x,
              ./images/sacha/gallery_desc_1_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_1_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_2_1x.jpg 1x,
              ./images/sacha/gallery_desc_2_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_2_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_3_1x.jpg 1x,
              ./images/sacha/gallery_desc_3_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_3_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_4_1x.jpg 1x,
              ./images/sacha/gallery_desc_4_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_4_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_5_1x.jpg 1x,
              ./images/sacha/gallery_desc_5_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_5_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_6_1x.jpg 1x,
              ./images/sacha/gallery_desc_6_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_6_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_7_1x.jpg 1x,
              ./images/sacha/gallery_desc_7_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_7_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_8_1x.jpg 1x,
              ./images/sacha/gallery_desc_8_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_8_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_9_1x.jpg 1x,
              ./images/sacha/gallery_desc_9_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_9_1x.jpg" alt="ice" />
        </picture>
      </li>
      <li class="gallery__items">
        <picture>
          <source
            srcset="
              ./images/sacha/gallery_desc_10_1x.jpg 1x,
              ./images/sacha/gallery_desc_10_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/sacha/gallery_desc_10_1x.jpg" alt="ice" />
        </picture>
      </li>
    </ul>
  </div>
</section>
