<header class="container">
  <div class="header-top">
    <div class="header-wrapper">
      <a href="index.html">
        <img src="/src/images/logo.svg" alt="logo" />
      </a>
      <nav>
        <ul class="nav-list">
          <li><a class="nav-list__link current" href="#">Home</a></li>
          <li><a class="nav-list__link" href="#">About us</a></li>
          <li><a class="nav-list__link" href="#">How it’s made?</a></li>
          <li><a class="nav-list__link" href="#">Our products</a></li>
          <li><a class="nav-list__link" href="#">Contact</a></li>
        </ul>
      </nav>
      <button class="btn btn-secondary">
        <span class="btn-text"
          >Buy now<svg width="4" height="8">
            <use href="/src/images/svg-sprite/symbol.svg#icon-arrow_btn"></use>
            >
          </svg>
        </span>
      </button>
    </div>
  </div>
</header>
