<section class="section">
    <div class="container">
        <ul>
            <li>
              <source
                srcset="
                  ./images/hero/slider-pic5.png          1x,
                  ./images/hero/retina/x2slider-pic5.png 2x
                "
                media="(min-width: 1200px)"
              />
              <img
                class=""
                src="/src/images/hero/slider-pic5.png"
                alt="Bio_Eco_milk"
              />
            </picture>
              <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
                in nibh vel risus.
              </p>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
    </div>

</section>
